<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>IRPY</title>
	<link rel="stylesheet" href="materialize.css">
</head>
<body>
	<div class="container">
		<h1>Database</h1>

		<input type="text" id="db" class="validate" placeholder="example.db">
		<button class="btn btn-large waves-effect waves-light" id="db_submit">Submit</button>
	</div>

	<div class="container">
		<h1>Words</h1>

		<input type="text" id="word1" class="validate" placeholder="Word 1">
		<input type="text" id="word2" class="validate" placeholder="Word 2">
		<input type="text" id="theme" class="validate" placeholder="Theme">
		<button id="words_submit" class="btn btn-large waves-effect waves-light">Submit</button>
	</div>
</body>

<script src="materialize.js"></script>
<script src="jquery.js"></script>
<script src="index.js" ></script>
</html>